<%= form_for @submitter_resume, html: { class: 'form-horizontal' } do |f| %>

  <% if @submitter_resume.errors.any? %>
    <div class="alert alert-block">
      <h4>There are <%= pluralize(@submitter_resume.errors.count, "error") %>.</h4>
      <ul>
        <% @submitter_resume.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :reviewer_id, class: 'control-label'  %>
    <div class="controls">
    </div>
  </div>

  <div class="control-group">
    <%= f.label :file, class: 'control-label' %>
    <div class="controls">
      <%= f.file_field :file %>
    </div>
  </div>

  <div><%= f.submit "Submit!" %></div>
<% end %>
