<h1>My Submitted Resumes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Reviewer</th>
      <th>Date uploaded</th>
      <th>Download link</th>
      <th>Delete link</th>
    </tr>
  </thead>

  <tbody>
    <% @submitter_resumes.each do |submitter_resume| %>
      <tr>
        <td><%= submitter_resume.reviewer_id %></td>
        <td><%= submitter_resume.created_at %></td>
        <td><%= link_to 'Download Resume', submitter_resume.file_url, class: "btn btn-info" %></td>
        <td><%= link_to 'Destroy', submitter_resume, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Upload another resume', new_submitter_resume_path %>
