<h1>My Reviewed Resumes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Submitter</th>
      <th>Date uploaded</th>
      <th>Download link</th>
      <th>Delete link</th>
    </tr>
  </thead>

  <tbody>
    <% @reviewer_resumes.each do |reviewer_resume| %>
      <tr>
        <td><%= reviewer_resume.submitter_id %></td>
        <td><%= reviewer_resume.created_at %></td>
        <td><%= link_to 'Download Resume', reviewer_resume.file_url, class: "btn btn-info" %></td>
        <td><%= link_to 'Destroy', reviewer_resume, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Upload another resume', new_reviewer_resume_path %>
