<%= form_for @resume, html: { class: 'form-horizontal' } do |f| %>

  <% if @resume.errors.any? %>
    <div class="alert alert-block">
      <h4>There are <%= pluralize(@resume.errors.count, "error") %>.</h4>
      <ul>
        <% @resume.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :group_id, :value => params[:group_id] %>
  <%= f.hidden_field :user_id, :value => params[:user_id] %>

  <div class="control-group">
    <%= f.label :reviewer_id, class: 'control-label'  %>
    <div class="controls">
    <%= collection_select(:resume, :reviewer, User.where(:role => :reviewer), :id, :name) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :file, class: 'control-label' %>
    <div class="controls">
      <%= f.file_field :file %>
    </div>
  </div>

  <div><%= f.submit "Submit!" %></div>
<% end %>

