<h1>My Resumes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Submitter Name</th>
      <th>Date Received</th>
      <th>Job link</th>
      <th>Job Description</th>
      <th>Download submitted resume</th>
      <th>Download reviewed resume</th>
      <th>Send edited resume link</th>
      <th>Amount Paid</th>
      <th>Delete link</th>
    </tr>
  </thead>

  <tbody>

  <% @resumes.keys.each do |key| %>
    <tr>
      <td><%= @resumes[key].first.name %></td><!-- resume.name -->
      <td><%= @resumes[key].first.created_at.strftime('%m/%d/%Y') %></td>
      <td class="truncate"><%= link_to "Link to Job", @resumes[key].first.job_link %></td>
      <td class="truncate"><%= @resumes[key].first.job_description %></td>
      
      <td><%= link_to 'Submitted Resume', @resumes[key].first.file_url, class: "btn btn-info" %></td>
      <% if @resumes[key].count == 2 %>
        <td><%= link_to 'Edited Resume', @resumes[key].last.file_url, class: "btn btn-info" %></td>
      <% else %>
       <td>Not Available Yet!</td>
      <% end %> 

      <% if @resumes[key].count == 2 %>
        <td>Submitted!</td>
      <% else %>
      <td><%= link_to('Send Edited Resume', new_resume_path(user_id: @resumes[key].first.user_id) , :"data-reveal-id" => "reviewerForm", class: "send-resume-link", :"data-group-id" => @resumes[key].first.group_id, :"data-name" => @resumes[key].first.name, :"data-reviewer-id" => @resumes[key].first.reviewer_id) %></td>
      <% end %> 

      <td><%= @resumes[key].first.price %></td>    
      <td><%= link_to 'Destroy', @resumes[key].first, class: "btn btn-danger", method: :delete, remote: true %></td>  
    </tr>
  <% end %>
  </tbody>
</table>



<div id="reviewerForm" class="reveal-modal" data-reveal>
 <%= render "reviewer_form"%> 
</div>