<h1>My Resumes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Submitter Name</th>
      <th>Date Received</th>
      <th>Download original resume link</th>
      <th>Send edited resume link</th>
      <th>Download edited resume link</th>
      <th>Delete link</th>
    </tr>
  </thead>

  <tbody>
  <% @resumes.keys.each do |key| %>
    <% @resumes[key].each do |resume| %>
        <tr>
          <td><%= resume.group_id %></td>
          <td><%= resume.created_at %></td>
          <td><%= link_to 'Download Original Resume', resume.file_url, class: "btn btn-info" %></td>
          <td><%= link_to 'Send Edited Resume', new_resume_path(group_id: resume.group_id), class: "btn btn-info" %></td>
          <td><%= link_to 'Download Edited Resume', resume.file_url, class: "btn btn-info" %></td>
          <td><%= link_to 'Destroy', resume, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>  
        </tr>
    <% end %>
  <% end %>
  </tbody>
</table>