<%= form_for @resume, html: { class: 'form-horizontal' } do |f| %>

  <% if @resume.errors.any? %>
    <div class="alert alert-block">
      <h4>There are <%= pluralize(@resume.errors.count, "error") %>.</h4>
      <ul>
        <% @resume.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="control-group">
    <%= f.label :reviewer_id, class: 'control-label'  %>
    <div class="controls">
    <%= f.collection_select(:reviewer_id, User.where(:role => :reviewer), :id, :name) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :job_link, class: 'control-label'  %>
    <div class="controls">
      <%= f.url_field :job_link, rows: 1, :autofocus => true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :job_description, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :job_description, rows: 3 %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :file, class: 'control-label' %>
    <div class="controls">
      <%= f.file_field :file %>
    </div>
  </div>

    <div class="control-group">
    <%= f.label "Enter a price you think is fair (in cents)", class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, data: {autonumeric: {aSign: 'USD '}}%>
    </div>
  </div>

  <script src="https://checkout.stripe.com/v2/checkout.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>

  <button id="customButton">Purchase</button>

  <script>
    $('#customButton').click(function(){
      var token = function(res){
        var $input = $('<input type=hidden name=stripeToken />').val(res.id);
        $('form').append($input).submit();
      };

      StripeCheckout.open({
        key:         'pk_test_6pRNASCoBOKtIshFeQd4XMUh',
        amount:      $("#resume_price").val().replace(/\D/g,''), 
        currency:    'usd',
        name:        'Resume Kaizen',
        description: 'A resume reviewing service',
        token:       token
      });
      return false;
    });
  </script>
<% end %>

