<h1>My resumes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Reviewer Name</th>
      <th>Date sent</th>
      <th>Job link</th>
      <th>Job Description</th>
      <th>Download resume</th>
      <th>Delete link</th>
    </tr>
  </thead>

  <tbody>
  <% @resumes.keys.each do |key| %>
  <tr><TD>Resume Groups</TD></tr>

    <% @resumes[key].each do |resume| %>
        <tr>
          <td><%= resume.name %></td>
          <td><%= resume.created_at %></td>
          <td><%= resume.job_link %></td>
          <td><%= resume.job_description %></td>

          <td><%= link_to 'Download Resume', resume.file_url, class: "btn btn-info" %></td>
          <td><%= link_to 'Destroy', resume, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>  
        </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Upload a resume', new_resume_path %>
