<%= form_for @resume, html: { class: 'form-horizontal' } do |f| %>

  <% if @resume.errors.any? %>
    <div class="alert alert-block">
      <h4>There are <%= pluralize(@resume.errors.count, "error") %>.</h4>
      <ul>
        <% @resume.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="control-group">
    <%= f.label :reviewer_id, class: 'control-label'  %>
    <div class="controls">
    <%= f.collection_select(:reviewer_id, User.where(:role => :reviewer), :id, :name) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :job_link, class: 'control-label'  %>
    <div class="controls">
      <%= f.url_field :job_link, :autofocus => true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :job_description, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :job_description, rows: 8 %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :file, class: 'control-label' %>
    <div class="controls">
      <%= f.file_field :file %>
    </div>
  </div>

<script src="https://checkout.stripe.com/checkout.js"></script>
<button id="customButton">Purchase</button>

<script>
  var handler = StripeCheckout.configure({
    key: 'pk_test_6pRNASCoBOKtIshFeQd4XMUh',
    image: '/square-image.png',
    token: function(token, args) {
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`
    }
  });

  document.getElementById('customButton').addEventListener('click', function(e) {
    // Open Checkout with further options
    StripeCheckout.open({
      name: 'Demo Site',
      description: '2 widgets ($20.00)',
      amount: $('#payAmount')
    });
    e.preventDefault();
  });
</script>


  <div><%= f.submit "Submit!" %></div>
<% end %>

